*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/dev/
/docs/build/
/docs/site/
docs/src/generated/

settings.json
.vscode/
.claude/

Manifest.toml
docs/Manifest.toml
examples/Manifest.toml
MCX*/Manifest.toml

# some specific files
MCXSpins/references/ising_cpu
MCXSpins/references/ising_cpu_modes